#footer-section {
    font-size: 18px;
    text-align: center;
}

#social img {
    height: 30px;
    width: 30px;
    margin: 20px;
}

.social-icon:hover {
    animation: social-icon 1s infinite linear;
}

@keyframes social-icon {
    from{
        transform: scale(0.95);
    }to{
        transform: scale(1.05);
    }
}

#social-note, #copyright {
    text-align: center;
}

@media screen and (min-width: 615px) {
    #footer-section {
        width: 60%;
        margin: auto;
    }
}