#avatar {
    height: 70px;
    width: 70px;
    cursor: pointer;
}

#img360{
    height: 70px;
    width: 70px;
    border: none;
    border-radius: 50%;
    color: #ffffff;
    font-size: 34px;
    animation: avatar360 30s linear infinite;
}

@keyframes avatar360 {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

#portfolio-head {
    width: 94%;
    position: fixed;
    top: 50px;
    margin: 0px 3% auto 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 100;
}

#menu-btn {
    position: relative;
    bottom: -15px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    scale: 1.2;
}
