@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#centered-body {
  width: 77%;
  margin: auto;
}

.large-p {
  font-size: 22px;
  text-align: justify;
}

a {
  text-decoration: none;
}

a:visited {
  color: #ffffff;
}

a:hover {
  color: #FF0000;
  text-decoration: underline;
}

@media screen and (max-width: 615px) {

  h1,
  h2 {
    text-align: center;
  }

  #centered-body {
    width: 90%;
  }

  .large-p {
    font-size: 18px;
    text-align: left;
  }
}