:root{
  --secH1Color: #800080;
}

body {
  margin: 0;
  font-family: monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('./assets/imgs/globe.gif') no-repeat center center fixed;
  background-size: cover;
  color: #C0C0C0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  color: #0d8dc0;
}
